body{
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    list-style: none;
}
p{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.img__sobremi{
width: 1200px;
margin: 20px;   
display: flex;
flex-wrap: wrap; 
}


.titulo-raro{
    color: cornflowerblue;
}
.header{
    position: sticky;
    top: 0px;
    background-color:red;
}
.header__logo{
    display: inline;
    width: 50px;
    height: 50px;
}
.header__nav{
    display: flex;
    flex-wrap: wrap;
   background-color: gold;
   margin: 10px;
   padding: 10px;

 
}
.header__lista{
    display: inline;
    list-style: none;
    padding: 10 16px;
}

.header__item{
    display: inline;
    padding: 0 16px;

}
.header__item:hover{
    transform: scale(1.20, 1.20);
    transition: all 0.5s;
}
.header__item a{
    color: black;
    text-decoration: none;
}

.header__logo{
    display: inline;
}


.imagen{
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.modificacion{
    border-top: solid 5px green;
    border-right: solid 5px red;
    border-bottom: solid 5px blue ;
    border-left: solid 5px orange;
    margin: 10px;
    padding: 10px;
}
.modificacion__titulo{
    text-align: center;
    font-size: 10px;
}
.main__cards--img{
    width: 300px;
    height: 250px;
}
.main__principal{
    display: grid;
    background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;

}
.main__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}
.main__boton{
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
    justify-content: center;
}
.main__boton button{
    height: 50px;
    width: 300px;
    
}

button{
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 20px;
    
}
button:hover{
    background-image: linear-gradient(to right, gold, yellow);
    transform: translate(5px, 5px);
}
.main__tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 15px;
    margin: 15px;
    
}
.main__cards{

    border: black solid 2px;
    padding: 16px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card__uno{
grid-column: 1/2;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);

}
.card__uno:hover{
    background-color: white;
    transform: scale(1.05, 1.05);
}
.card__dos{
grid-column: 2/3;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);
}
.card__dos:hover{
    background-color: white;
    transform: scale(1.05, 1.05);

}
.card__tres{
grid-column: 3/4;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);
}
.card__tres:hover{
    background-color: white;
    transform: scale(1.05, 1.05);
}
.navFijo{
    width: 1200px;
    margin: 20px;
    padding: 10px;
    background-color: gold;

    position: fixed;
    top: 0;
    left: 0;
}
footer{
    background-color: gold;
    display: grid;
    margin: 20px;
    padding: 24px;
    grid-template-areas: "indice mapa redes"
                         "indice mapa none";
}
.footer__indice ul li{
    font-size: 16px;
    grid-area: indice ;
    padding-bottom: 12px;

}
.footer__mapa{
    grid-area: mapa;
   
}


a{
    text-decoration: none;
    color: black;
}
.footer__texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    margin: 20px;
    padding: 20px;
}

.footer__contacto{
text-align: center;
}
.footer__imagen{
    width: 1200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    
}
.footer__iconos{
width: 30px;
height: 30px;
margin: 12px;

}
.footer__redes{
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    

}


.main__informacion{
    margin: 20px;
    padding: 20px;
    font-size: large;
}
.form__estructura{
    display: inline;
    margin: 20px;
    padding: 50px;
  
}
.section__imagen{
    margin: 10px;
    padding: 60px;
    width: 1100px;
    height: auto;
}
.imagen{
    width: 300px;
    height: 250px;
}
.card{
width: 300px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black ;
margin: 20px;
padding: 20px;
}


img{
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
}
.card__info{
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.container{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
button{
    background-color: gold;
    padding: 10px;

}
button:hover{
    background-image: linear-gradient(to right, blue, );
}
.imagen-fondo{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-image: url(/Resourses/jonathan-borba-zfPOelmDc-M-unsplash.jpg)
}
.section__img{
    display: flex;
    width: 300px;
    height: 250px;
    display: inline;
    justify-content: space-around;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid black;
    }

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px){
    /* FOOTER */

    footer{
        
      
        
        padding: 10px;
        grid-template-areas: "indice"
                             "mapa" 
                             "redes"
                             "none";
    }
    .footer__indice ul li{
        font-size: 15px;
        display: flex;
    }
    /* TARJETAS */

    .main__tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 15px;
        margin: 15px;
    }
    .main__cards{
    
        border: grey solid 2px;
        padding: 10px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card__uno{
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .card__dos{
    grid-column: 1/2;
    grid-row: 2/3;
    }
    .card__tres{
    grid-column: 1/2;
    grid-row: 3/4;
    }
    .main__cards--img{
        width: 300px;
        height: 200px;
    }
   
    .section__img{
        display: flex;
        width: 200px;
        height: 150px;
        justify-content: space-around;
        padding: 50px;
        border-radius: 15px;
        border: black solid 2px;
        }
        .main__tarjetas{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row: 1fr;
            gap: 15px;
            margin: 15px;
        }
        .main__cards--img{
            width: 250px;
            height: 200px;
        }
        .main__principal{
            display: grid;
            background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
            height: 100vh;
            background-size: cover;
            background-position: center;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr ;
        
        }
        .main__titulo{
        
            color: white;
            text-shadow: 2px 2px 4px black;
            font-size: 30px;
            text-align: center;
            display: flex;
          
        
        
        }
        .main__cards{

            border: black solid 2px;
            padding: 10px;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .card{
            width: 300px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid black ;
            border-radius: 15px;
            margin: 20px;
            padding: 20px;
            }
            .section__imagen{
               display: flex;
               justify-content: center;
               width: 250px;
               height:200px;
               padding: 20px;
             
            }
.img__sobremi{
width: 250px;
margin: 20p0x;   
display: flex;
flex-wrap: wrap; 
padding: 10px;
}

     
       
        
    

}
/* MEDIA DE TABLET */
@media (min-width: 576px) and (max-width: 992px){
    

}



.navegacion__baja{
    display: inline;
    padding: 0 16px;
}
.section{
    border-radius: black solid 2px;
}
