@media (min-width: 320px) and (max-width: 575px) {
  
  h1{
    text-align: center;
  }

  .main__boton{
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
    justify-content: center;
}
  .main__boton button{
    height: 50px;
    width: 300px;
    
}
    .main__tarjetas {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 1fr 1fr 1fr;
      gap: 15px;
      margin: 15px; }
    .main__cards {
      border: grey solid 2px;
      padding: 10px;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .card__uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .card__dos {
      grid-column: 1/2;
      grid-row: 2/3; }
    .card__tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .main__cards--img {
      width: 300px;
      height: 200px; }
    .section__uno {
      margin: 10px;
      padding: 20px;
      width: 100%;
      height: 100%; }
    .section__img {
      display: flex;
      width: 200px;
      height: 150px;
      justify-content: space-between;
      border-radius: 15px;
      border: black solid 2px; }
    .main__tarjetas {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row: 1fr;
      gap: 15px;
      margin: 20px; }
    .main__cards--img {
      width: 250px;
      height: 200px; }
    .main__principal {
      display: grid;
      background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
      height: 100vh;
      background-size: cover;
      background-position: center;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr; }

    .main__titulo {
      color: white;
      text-shadow: 2px 2px 4px black;
      font-size: 30px;
      display: flex;
      justify-content: center;
    
    }
    .main__cards {
      border: black solid 2px;
      padding: 10px;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .card {
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid black;
      border-radius: 15px;
      margin: 20px;
      padding: 20px; }
    .imagen__principal {
      width: 100%;
      display: flex;
      justify-content: center; }
    .section__imagen {
      width: 100%;
      padding: 10px;
      margin: 10px; }
    .img__sobremi {
      width: 300px;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      margin: 10px; }
    footer {
      padding: 10px;
      grid-template-areas: "indice"
   "mapa" 
   "redes"
   "none"; }
    .footer__indice ul li {
      font-size: 15px;
      display: flex; } }
  
  /* MEDIA DE TABLET */
  @media (min-width: 576px) and (max-width: 992px) {
    .main__tarjetas {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 1fr 1fr 1fr;
      gap: 15px;
      margin: 15px; }
    .main__cards {
      border: grey solid 2px;
      padding: 10px;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .card__uno {
      grid-column: 1/2; }
    .card__dos {
      grid-column: 1/2; }
    .card__tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .main__cards--img {
      width: 300px;
      height: 200px; }
    .section__uno {
      display: inline;
      margin: 10px;
      padding: 20px; }
    .section__img {
      display: flex;
      width: 80%;
      justify-content: space-between;
      border-radius: 15px;
      border: black solid 2px;
      margin: 50px; }
    .main__tarjetas {
      display: inline; }
    .main__cards--img {
      width: 250px;
      height: 200px; }
    .main__principal {
      display: grid;
      background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
      height: 100vh;
      background-size: cover;
      background-position: center;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr; }
    .main__titulo {
      color: white;
      text-shadow: 2px 2px 4px black;
      font-size: 30px;
      text-align: center;
      display: flex; }
    .main__cards {
      border: black solid 2px;
      padding: 10px;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .card {
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid black;
      border-radius: 15px;
      margin: 20px;
      padding: 20px; }
    .imagen__principal {
      width: 100%;
      display: flex;
      justify-content: center; }
    .section__imagen {
      width: 100%;
      padding: 10px;
      margin: 10px; }
    .img__sobremi {
      width: 560px;
      display: flex;
      margin: 10px; }
    footer {
      padding: 10px;
      grid-template-areas: "indice"
   "mapa" 
   "redes"
   "none"; }
    .footer__indice ul li {
      font-size: 15px;
      display: flex; } }