@import "footer";
@import "header";
@import "mediaqueries";
@import "operators";


h1{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

h2{
    text-align: center;
 
}
ul{
    list-style: none;
}
p{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.img__sobremi{
margin: 10px;   
padding: 10px;
display: flex;
justify-content: center;
}


.titulo-raro{
    color: cornflowerblue;
}


.imagen{
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.color__navbar{
    background-color: gold;
}
.tamaño{
    width: 90px;
    height: 90px;
}

.modificacion{
    border-top: solid 5px green;
    border-right: solid 5px red;
    border-bottom: solid 5px blue ;
    border-left: solid 5px orange;
    margin: 10px;
    padding: 10px;
}
.modificacion__titulo{
    text-align: center;
    font-size: 10px;
}
.main__cards--img{
    width: 300px;
    height: 250px;
}
.main__principal{
    display: grid;
    background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
   
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;

}
.main__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main__boton{
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
    justify-content: center;
}
.main__boton button{
    height: 50px;
    width: 270px;
    align-items: center;
    
}


.main__tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    gap: 15px;
    margin: 40px;
    border-radius: 10px;
    
}
.main__cards{

    border: black solid 2px;
    padding: 16px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
    
}
button{
  
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 20px;
    
    
}
button:hover{
    background-image: linear-gradient(to right, gold, yellow);
    transform: translate(5px, 5px);
}
.card__uno{
grid-column: 1/2;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);

}
.card__uno:hover{
    background-color: white;
    transform: scale(1.05, 1.05);
}
.card__dos{
grid-column: 2/3;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);
}
.card__dos:hover{
    background-color: white;
    transform: scale(1.05, 1.05);

}
.card__tres{
grid-column: 3/4;
grid-row: 1/2;
background-image: linear-gradient(to right, gold, white);
}
.card__tres:hover{
    background-color: white;
    transform: scale(1.05, 1.05);
}
.navFijo{
    width: 1200px;
    margin: 20px;
    padding: 10px;
    background-color: gold;

    position: fixed;
    top: 0;
    left: 0;
}


a{
    text-decoration: none;
    color: black;
}


.main__informacion{
    margin: 20px;
    padding: 20px;
    font-size: large;
}
.form__estructura{
    display: inline;
    margin: 20px;
    padding: 50px;
  
}
.imagen__principal{
    width: 100%;
    display: flex;
    justify-content: center;
 
}

.section__imagen{
    margin: 10px;
    padding: 60px;
    width: 1100px;
    height: auto;
}
.imagen{
    width: 300px;
    height: 250px;
}
.card{
width: 300px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black ;
margin: 20px;
padding: 20px;
}


img{
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
}
.card__info{
    width:100%;
    text-align: center;
}

.container{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 50px;
}
button{
    

    background-color: gold;
    margin: 10px;
    padding: 10px;
   
   

}
button:hover{
    background-image: linear-gradient(to right, blue, );
}
.imagen-fondo{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-image: url(/Resourses/jonathan-borba-zfPOelmDc-M-unsplash.jpg)
}
.section__uno{
    margin: 20px;
    padding: 60px;
}

.section__img{
    
    width: 300px;
    height: 250px;
    justify-content: space-between;
    border-radius: 15px;
    border: black solid 2px;
    margin: 30px;
    
    }
    .carrousel__altura{
      height: 500px;
    }

    @media (min-width: 320px) and (max-width: 575px) {

      .container{
        margin: 5px;

            }
  

        .main__boton{
          grid-column:2/3 ;
          grid-row:2/3 ;
          display: flex;
          justify-content: center;
      }
        .main__boton button{
          height: 50px;
          width: 250px;
          
      }
         
          .main__cards {
            border: grey solid 2px;
            display: flex;
            border-radius: 15px;
            flex-direction: column;
            justify-content: center;
           
          }
          .card__uno {
            grid-column: 1/2;
            grid-row: 1/2; }
          .card__dos {
            grid-column: 1/2;
            grid-row: 2/3; }
          .card__tres {
            grid-column: 1/2;
            grid-row: 3/4; }
          .main__cards--img {
            width: 300px;
            height: 200px; }
          .section__uno {
            margin: 10px;
            padding: 20px;
            width: 100%;
            height: 100%; }
          .section__img {
            display: flex;
            width: 200px;
            height: 150px;
            justify-content: space-between;
            border-radius: 15px;
            border: black solid 2px; }
          .main__tarjetas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 5px;
          }
          .main__cards--img {
            width: 250px;
            height: 250px; 
          }
         
          .main__principal {
            display: grid;
            background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
            height: 100vh;
            width: 350px;
            background-size: cover;
            background-position: center;
            grid-template-columns: 1fr 2fr 1fr 1fr;
            }


          .main__titulo {
            color: white;
            text-shadow: 2px 2px 4px black;
            font-size: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
          
          }
          .main__cards {
            border: black solid 2px;
            padding: 10px;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
          }
          .card {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid black;
            border-radius: 15px;
            margin: 20px;
            
          } 
          .imagen__principal {
            width: 100%;
            display: flex;
            justify-content: center; }
          .section__imagen {
            width: 100%;
            padding: 10px;
            margin: 10px; }
          .img__sobremi {
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            margin: 10px; }
          footer {
            padding: 10px;
            grid-template-areas: "indice"
         "mapa" 
         "redes"
         "none"; }
          .footer__indice ul li {
            font-size: 15px;
            display: flex; } }

             /* MEDIA DE TABLET */
  @media (min-width: 576px) and (max-width: 992px) {



    .main__cards {

      border: black solid 4px;
      justify-content: space-evenly;
      border-radius: 20px;
      margin: 50px;

  }
    .card__uno {
      grid-column: 1/2;
      grid-row: 2/3;
      }
    .card__dos {
      grid-column: 1/2;
    }
    .card__tres {
      grid-column: 1/2;
      grid-row: 3/4; 
    }
    .main__cards--img {
      width: 300px;
      height: 200px; 
    }
    .section__uno {
      display: inline;
      margin: 10px;
      padding: 30px; }
    .section__img {
      display: flex;
      width: 90%;
      justify-content: space-between;
      border-radius: 15px;
      border: black solid 2px;
      margin: 50px; }
   
    .main__cards--img {
      width: 400px;
      height:250px; 
    }
    
    .main__principal {
      display: grid;
      background-image: url(../Resourses/jonathan-borba-zfPOelmDc-M-unsplash.png);
      height: 100vh;
      background-size: cover;
      background-position: center;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr; }
    .main__titulo {
      color: white;
      text-shadow: 2px 2px 4px black;
      font-size: 30px;
      text-align: center;
      display: flex; }
 
    .card {
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid black;
      border-radius: 15px;
      margin: 20px;
      padding: 20px; }
    .imagen__principal {
      width: 100%;
      display: flex;
      justify-content: center; }
    .section__imagen {
      width: 100%;
      padding: 10px;
      margin: 10px; }
    .img__sobremi {
      width: 560px;
      display: flex;
      margin: 10px; }
    footer {
      padding: 10px;
      grid-template-areas: "indice"
   "mapa" 
   "redes"
   "none"; }
    .footer__indice ul li {
      font-size: 15px;
      display: flex; } }
        



    